{:profiles
 {:babygau {:default true :sim 50 :delay 500 :alone 180 :held 200}}
 ;; Create alias key for `:to`
 :tos {:hyper {:key :left_control :modi {:mandatory [:left_command :left_shift :left_option]}}
       :to-f19 {:key :left_control :modi {:mandatory [:left_option :left_command]}}
       :to-f18 {:key :left_command :modi {:mandatory [:left_shift :left_option]}}
       :to-f17 {:key :left_command :modi {:mandatory [:left_shift :left_control]}}
       :app-switcher {:key :tab :modi [:left_command] :lazy true}}

 :templates {:launch "osascript -e 'tell application \"%s\" to activate'"
             :debug "osascript -e 'display notification \"%s\" with title \"Debug!\"'"
             :notify-layout "osascript -e 'display notification \"%s\" with title \"Layout!\"'"
             :notify-yabai "osascript -e 'display notification \"%s\" with title \"Yabai!\"'"}
 ;; Create layer/mode based on holding keys
 ;; :layers {;; macOS only use from f1 to f12
          ;; Make use of these keys for naming condition purpose
          ;; :f17-layout {:key :f17}
          ;; :f18-layout {:key :f18}
          ;; :f19-layout {:key :f19}}
 :layers {}

 ;; Create layer/mode based on key sequences/chords
 ;; :simlayers {:yabai-mode {:key :y}
              ;; Because bsp and stack are complement each other, I don't need
              ;; set :condi to detect its state any more
              ;;:yabai-stack-mode {:key :s}
              ;;:yabai-bsp-mode {:key :b}
              ;;:yabai-float-mode {:key :f :condi ["in-yabai-float-mode" 1]}}
 :simlayers {}
 ;; Main contains multiple manipulators
 :main [{:des "Hyper Layout"
         :rules [;; Remap Capslock to Hyper key, Escape when pressed alone
                 [:##caps_lock :hyper nil {:alone   :escape}]
                 ;; Move like Vim
                 [:!!j :down_arrow]
                 [:!!k :up_arrow]
                 [:!!h :left_arrow]
                 [:!!l :right_arrow]
                 ;; Copy/Paste/Undo/Redo
                 [:!!c :!Cc]
                 [:!!v :!Cv]
                 [:!!u :!Cz]
                 [:!!r :!CSz]
                 ;; Quick focus windows with Yabai
                 [:!!semicolon "/run/current-system/sw/bin/yabai -m query --spaces --space \\
                                | /etc/profiles/per-user/babygau/bin/jq -re '.index' \\
                                | xargs -I{} /run/current-system/sw/bin/yabai -m query --windows --space {} \\
                                | /etc/profiles/per-user/babygau/bin/jq -sre 'add | map(select(.minimized != 1)) | sort_by(.display, .frame.y, .frame.x, .id) | reverse | nth(index(map(select(.focused == 1))) - 1).id' \\
                                | xargs -I{} /run/current-system/sw/bin/yabai -m window --focus {}"]
                 ;; Quick focus spaces with Yabai
                 [:!!p "/run/current-system/sw/bin/yabai -m space --focus prev"]
                 [:!!n "/run/current-system/sw/bin/yabai -m space --focus next"]]}
        {:des "F17|F18|F19 Layout Init"
         :rules [:!keychron
                 [:right_command [:to-f17 ["f17-layout" 1]] nil {:afterup ["f17-layout" 0]}]
                 [:right_option [:to-f18 ["f18-layout" 1]] nil {:afterup ["f18-layout" 0]}]
                 [:right_control [:to-f19 ["f19-layout" 1]] nil {:afterup ["f19-layout" 0]}]
                 :keychron
                 [:f7 [:to-f17 ["f17-layout" 1]] nil {:afterup ["f17-layout" 0]}]
                 [:f8 [:to-f18 ["f18-layout" 1]] nil {:afterup ["f18-layout" 0]}]
                 [:f9 [:to-f19 ["f19-layout" 1]] nil {:afterup ["f19-layout" 0]}]]}

        {:des "F17 BSP Layout"
         :rules [:f17-layout
                 ;; Rotate tree
                 [:r "/run/current-system/sw/bin/yabai -m space --rotate 90"]
                 ;; Mirror y axis
                 [:y "/run/current-system/sw/bin/yabai -m space --mirror y-axis"]
                 ;; Mirror x axis
                 [:x "/run/current-system/sw/bin/yabai -m space --mirror x-axis"]
                 ;; Split horizontal/vertical windows
                 [:v "/run/current-system/sw/bin/yabai -m window --toggle split"]
                 ;; Cycle through windows
                 [:j "/run/current-system/sw/bin/yabai -m window --focus next || /usr/local/bin/yabai -m window --focus first"]
                 [:k "/run/current-system/sw/bin/yabai -m window --focus prev || /usr/local/bin/yabai -m window --focus last"]
                 ;; Insert windows
                 [:up_arrow "/run/current-system/sw/bin/yabai -m window --insert north"]
                 [:down_arrow "/run/current-system/sw/bin/yabai -m window --insert south"]
                 [:left_arrow "/run/current-system/sw/bin/yabai -m window --insert west"]
                 [:right_arrow "/run/current-system/sw/bin/yabai -m window --insert east"]
                 ;; Insert stacks
                 [:t "/run/current-system/sw/bin/yabai -m window --insert stack"]
                 ;; Move windows
                 [:return_or_enter "/run/current-system/sw/bin/yabai -m window --warp west"]
                 [:s "/run/current-system/sw/bin/yabai -m window --warp south"]
                 [:a "/run/current-system/sw/bin/yabai -m window --warp west"]
                 [:w "/run/current-system/sw/bin/yabai -m window --warp north"]
                 [:d "/run/current-system/sw/bin/yabai -m window --warp east"]]}
        {:des "F18 Edit Layout"
         :rules [:f18-layout
                 ;; Cycle through windows
                 [:k "/run/current-system/sw/bin/yabai -m window --focus stack.prev || /usr/local/bin/yabai -m window --focus stack.last"]
                 [:j "/run/current-system/sw/bin/yabai -m window --focus stack.next || /usr/local/bin/yabai -m window --focus stack.first"]
                 ;; Move stack windows
                 [:s "/run/current-system/sw/bin/yabai -m window --stack south"]
                 [:a "/run/current-system/sw/bin/yabai -m window --stack west"]
                 [:w "/run/current-system/sw/bin/yabai -m window --stack north"]
                 [:d "/run/current-system/sw/bin/yabai -m window --stack east"]]}

        {:des "F19 Universal Layout"
         :rules [:f19-layout
                 ;; Switch layouts
                 [:b ["/run/current-system/sw/bin/yabai -m space --layout bsp" [:notify-layout "BSP"]]]
                 [:s ["/run/current-system/sw/bin/yabai -m space --layout stack" [:notify-layout "Fullscreen Stack"]]]
                 [:f ["/run/current-system/sw/bin/yabai -m space --layout float" [:notify-layout "Float"]]]
                 ;; Toggle float window
                 [:t ["/run/current-system/sw/bin/yabai -m window --toggle float && \\
                         /tmp/yabai-restore/$(/run/current-system/sw/bin/yabai -m query --windows --window | /usr/local/bin/jq -re '.id').restore \\
                         2>/dev/null || true" [:notify-layout "Float Window"]]]
                 ;; Toggle PIP
                 [:p "/run/current-system/sw/bin/yabai -m window --toggle sticky && \\
                      /run/current-system/sw/bin/yabai -m window --toggle topmost && \\
                      /run/current-system/sw/bin/yabai -m window --toggle pip"]
                 ;; Toggle top most window
                 [:o "/run/current-system/sw/bin/yabai -m window --toggle topmost"]
                 ;; Toggle sticky window
                 ; [:!So "/run/current-system/sw/bin/yabai -m window --toggle sticky"]
                 ;; Resize float windows
                 [:up_arrow "/run/current-system/sw/bin/yabai -m window --grid 1:1:0:0:1:1"]
                 [:down_arrow "/run/current-system/sw/bin/yabai -m window --grid 8:8:1:1:6:6"]
                 [:left_arrow "/run/current-system/sw/bin/yabai -m window --grid 1:2:0:0:1:1"]
                 [:right_arrow "/run/current-system/sw/bin/yabai -m window --grid 1:2:1:0:1:1"]
                 ;; Fast focus spaces
                 [:1 "/run/current-system/sw/bin/yabai -m space --focus 1"]
                 [:2 "/run/current-system/sw/bin/yabai -m space --focus 2"]
                 [:3 "/run/current-system/sw/bin/yabai -m space --focus 3"]
                 [:4 "/run/current-system/sw/bin/yabai -m space --focus 4"]
                 [:5 "/run/current-system/sw/bin/yabai -m space --focus 5"]
                 [:6 "/run/current-system/sw/bin/yabai -m space --focus 6"]
                 [:7 "/run/current-system/sw/bin/yabai -m space --focus 7"]
                 ;; Send windows and focus to spaces
                 [:0 "/run/current-system/sw/bin/yabai -m window --space next && /usr/local/bin/yabai -m space --focus next"]
                 [:9 "/run/current-system/sw/bin/yabai -m window --space prev && /usr/local/bin/yabai -m space --focus prev"]
                 ;; Create and destroy spaces
                 [:d "/run/current-system/sw/bin/yabai -m space --destroy"]
                 [:c "/run/current-system/sw/bin/yabai -m space --create && \\
                                  index=$(/run/current-system/sw/bin/yabai -m query --spaces --display | /usr/local/bin/jq 'map(select(.\"native-fullscreen\" == 0))[-1].index') && \\
                                  /run/current-system/sw/bin/yabai -m space --focus $index"]]}

        {:des "Remap <C-t> to <C-`> for iTerm"
         :rules [[:!Tgrave_accent_and_tilde :!Tt :Terminals]]}

        {:des "Double tap right shift key to switch input setting"
         :rules [[:right_shift [:!Oz ["macos-input-source" 0]] ["macos-input-source" 1]]
                 [:right_shift
                  [["macos-input-source" 1] :right_shift]
                  ["macos-input-source" 0]
                  {:delayed {:invoked ["macos-input-source" 0] :canceled ["macos-input-source" 0]} :params {:delay 300}}]]}

        {:des "Double tap left shift key to toggle terminal"
         :rules [[:left_shift [:!Tgrave_accent_and_tilde ["vscode-terminal" 0]] [:VSCODE ["vscode-terminal" 1]]]
                 [:left_shift
                  [["vscode-terminal" 1] :left_shift]
                  ["vscode-terminal" 0]
                  {:delayed {:invoked ["vscode-terminal" 0] :canceled ["vscode-terminal" 0]} :params {:delay 300}}]]}]

 :applications {:Terminals ["^com\\.apple\\.Terminal$"
                            "^com\\.googlecode\\.iterm2$"
                            "^io\\.alacritty"]
                :Finder    ["^com\\.apple\\.finder$"]
                :Debuggers ["^org\\.mozilla\\.firefox$"
                            "^org\\.mozilla\\.firefoxdeveloperedition$"
                            "^com\\.google\\.Chrome$"
                            "^org\\.chromium\\.Chromium$"
                            "^com\\.google\\.Chrome\\.canary$"
                            "^com\\.apple\\.Safari$"
                            "^com\\.microsoft\\.VSCode$"]
                :VSCODE    ["^com\\.microsoft\\.VSCode"]
                :Browsers  ["^org\\.mozilla\\.firefox$"
                            "^org\\.mozilla\\.firefoxdeveloperedition$"
                            "^com\\.google\\.Chrome$"
                            "^org\\.chromium\\.Chromium$"
                            "^com\\.google\\.Chrome\\.canary$"
                            "^com\\.apple\\.Safari$"]
                :Firefoxes ["^org\\.mozilla\\.firefox$"
                            "^org\\.mozilla\\.firefoxdeveloperedition$"]}
 :devices {:keychron [{:vendor_id 1452 :product_id 591}]}
 :input-sources {:us {:input_mode_id ""
                      :input_source_id "com.apple.keylayout.ABC"
                      :language "en"}}
 :simlayer-threshold 50}

;; Unused rules

;; {:des "Super Duper: <s-d> init"
;;          :rules [[[:s :d] ["super-duper-layout" 1]]
;;                  ;; Ref: https://github.com/narze/dotfiles/blob/master/etc/karabiner.edn
;;                  ]}
