.DS_STORE
.calva
.clj-kondo
.dir-locals.el
.direnv/
.lsp
.vscode/
__pycache__/
dotfiles/alfred2/
dotfiles/env/
dotfiles/iterm2/
dotfiles/karabiner/automatic_backups/
dotfiles/tmux/plugins/
dotfiles/venv/
result
flake.lock
