<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>A2SLODAzNjk1OGIzM2JlFbmmk/ZSmLxyz7jpWQ/SrOuUa54OVtSYNh5xnAptiAEZjhEWNHQS10TfnIQrl2LCH8KhIyDKL+E85vG6328Xp0ygTOnnaqnZjeUyImuVKMLpeOsKucF22WAPPNTbfyfeV3bqa0/5XRJjt5jL5rrfYGJJg149HLPH0JSJVpzxCHbjUpMo6VZ3</string>
	<key>email</key>
	<string>braden.truong@live.com</string>
</dict>
</plist>
