<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.custom.C63C8F9C-6E22-42D6-A93C-D441C356B511</string>
	<key>darkthemeuid</key>
	<string>theme.custom.A4810B72-4B3B-4A4A-89C2-4BF8899BBA48</string>
	<key>lightthemeuid</key>
	<string>theme.custom.6B844170-FA4E-45F8-9603-37B4559BC2E5</string>
</dict>
</plist>
